flow.json
[
    {
        "id": "5763328140ab65c2",
        "type": "tab",
        "label": "PQA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "813aa2de297becf0",
        "type": "tab",
        "label": "VSD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "03f12b36abe7a37c",
        "type": "tab",
        "label": "DataLogger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6518aabe6f06f6f4",
        "type": "tab",
        "label": "Visualizacion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f35c16add17629be",
        "type": "tab",
        "label": "Navegacion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38940f8.c9c27f",
        "type": "group",
        "z": "5763328140ab65c2",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "70a63b74.44894c",
            "ee01b6d1.f76f98"
        ],
        "x": 28,
        "y": 13,
        "w": 1604,
        "h": 1114
    },
    {
        "id": "6e3beedd60dca251",
        "type": "group",
        "z": "03f12b36abe7a37c",
        "name": "DataloggerPQA",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4ea7eb06.9f2174",
            "7e0625da.a5746c",
            "4a152bf2.aedbf4",
            "1eb399c9a54fa23f",
            "848f2a15824cb334"
        ],
        "x": 234,
        "y": 59,
        "w": 772,
        "h": 82
    },
    {
        "id": "b8bd404be934fa18",
        "type": "group",
        "z": "6518aabe6f06f6f4",
        "name": "Datos Eléctricos",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "79baabe43250cc9f",
            "a4f221d85b9581dd",
            "5a2d64a78596c4c1",
            "cfca65816885ed45",
            "8c65396ad9180d16",
            "c55f66f375e44d6b"
        ],
        "x": 18,
        "y": 99,
        "w": 1894,
        "h": 468
    },
    {
        "id": "1d0c3cb2.7129f3",
        "type": "group",
        "z": "f35c16add17629be",
        "name": "Kiosko Group",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "26428723.4b3e38",
            "bfa48676.a364f8",
            "66496d795f4ee7fc",
            "64526cf8d08d9bc4",
            "d6d77b20431c6fc2",
            "5a3b6dbb1b06ecc3",
            "8ff382d09fb168e3",
            "8a4770bdf43b812c",
            "95d0ba3af57e7b56",
            "e39536e36180e4d8"
        ],
        "x": 14,
        "y": 771.5,
        "w": 792,
        "h": 337
    },
    {
        "id": "e9e93a2c.deeb18",
        "type": "group",
        "z": "f35c16add17629be",
        "name": "UI-Control",
        "style": {
            "label": true,
            "fill": "#ffbfbf",
            "color": "#000000"
        },
        "nodes": [
            "7abe043b.fb14fc",
            "97407954.a004c8",
            "805762db.d27b7",
            "37f2db57.b831c4"
        ],
        "x": 24,
        "y": 619,
        "w": 422,
        "h": 122
    },
    {
        "id": "70a63b74.44894c",
        "type": "group",
        "z": "5763328140ab65c2",
        "g": "38940f8.c9c27f",
        "name": "Configuración CTs",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5c5b638c.a8f91c",
            "cf0d5223.b4dab",
            "7cc997fc.b5d5b8",
            "83dce8ae2adb063d",
            "d22f737e1faaee45"
        ],
        "x": 54,
        "y": 939,
        "w": 412,
        "h": 162
    },
    {
        "id": "ee01b6d1.f76f98",
        "type": "group",
        "z": "5763328140ab65c2",
        "g": "38940f8.c9c27f",
        "name": "Lectura de datos eléctricos PQA",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ed025e5c.648858",
            "6188debb.009948",
            "5fe9be31.70c2a",
            "1f4cd023.43eb4",
            "a65e22e6.71c65",
            "993f38ab.482e9",
            "3f9fcc24.6fac3c",
            "d1a9dbc4.33f7e",
            "329a20ae.addd08",
            "f69145ec.595428",
            "7bbced0c.e692d4",
            "8f2ea546.30e13",
            "8d348d63.134818",
            "5ff5e28d.2c7d74",
            "9d6fe8b8.eb7cf8",
            "f8287ebe.9bb3c8",
            "eaf2e52.a8fae18",
            "72ceef76.7f8f1",
            "139d011a.841abf",
            "ddee4aa9.906988",
            "339b7b9a.f4bb14",
            "894eb396.e8f0c",
            "23986012.d8fc9",
            "43ffc14d.a3cac8",
            "d3d2bf92f1387fd6",
            "3bd8b039f4c56513",
            "30c7e65d47bd2971",
            "2003f49f54e21777",
            "d51a596fcfbf93f0",
            "d7c4d57611493bd3",
            "2ceb25cffb9d80e4",
            "5e2a332d18ad3650",
            "1a122bae4ed0bf36",
            "da4c68da2f239de1",
            "c362c1dcf4cc0796",
            "3878a4d12166cb8d",
            "c11fe0bdbc916732",
            "1bd0aa4e49b351af",
            "cd759f2045b5bef1",
            "56708d2b8fa5451d",
            "815a917abb15058c",
            "f54284edcaf056e4",
            "7ef87d44828138c4",
            "79ed59278564eccd",
            "bb92b76588cce739",
            "20a33011be6557f7"
        ],
        "x": 54,
        "y": 39,
        "w": 1552,
        "h": 842
    },
    {
        "id": "79baabe43250cc9f",
        "type": "group",
        "z": "6518aabe6f06f6f4",
        "g": "b8bd404be934fa18",
        "name": "Datos de fases",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "42aefbb15cef5169",
            "ebb09443ee832552",
            "1f8135572f14ee89",
            "bb738cfa3cff7bc9",
            "6c81d81d5af4b363",
            "d205dbaea632b9c3",
            "63918716efe5d959",
            "824a933d151e6dd6",
            "1f5eca3b3d4644e0",
            "7690c62e63030907",
            "91adf3df1df1bf4e"
        ],
        "x": 44,
        "y": 179,
        "w": 572,
        "h": 362
    },
    {
        "id": "a4f221d85b9581dd",
        "type": "group",
        "z": "6518aabe6f06f6f4",
        "g": "b8bd404be934fa18",
        "name": "Trend Harmonics",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b7e3e782b317f3dd",
            "fcb0150902a39169",
            "c5fecc81ab99cbf5",
            "2d16ae81892a1843",
            "7f2810865baf7092",
            "01a0273da1d95130",
            "956a8248b1a90f29",
            "be658f2d97c06ae7",
            "cf48cc7a9e511e75",
            "98082a63869f198c",
            "a2eb2831d853fe64",
            "955053ddb39412a7",
            "395681ed3dad5171",
            "328f4adfdbeef3a8",
            "a258d4d09931e14f"
        ],
        "x": 634,
        "y": 299,
        "w": 1252,
        "h": 242
    },
    {
        "id": "23a0db1c9613c4e1",
        "type": "group",
        "z": "6518aabe6f06f6f4",
        "name": "Data Motor",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6b6e49f24907fda2",
            "ecef4b7401c4b23b",
            "b4dbec00c3815b08",
            "11a0cc51ad30589b",
            "b3c24d8804f42604",
            "ce9cadb3f9eb69f9",
            "608afb87fd4d9d29",
            "9a94fafdc1d876f2",
            "8a74382dfcef0010",
            "03a5023cc8fba560"
        ],
        "x": 4,
        "y": 599,
        "w": 482,
        "h": 362
    },
    {
        "id": "ae58460d.12c698",
        "type": "modbus-client",
        "name": "PQA",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.2.163",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "5",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "764d8ce4.3c81b4",
        "type": "ui_group",
        "d": true,
        "name": "Menu_Bar",
        "tab": "1ecc5089.33b77f",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ecc5089.33b77f",
        "type": "ui_tab",
        "name": "Principal",
        "icon": "fa-home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d284e6d7e2f1936b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f1ae75fa2e5787c5",
        "type": "ui_tab",
        "name": "VSDABB",
        "icon": "fa-cogs ",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f61eea71fe8e60ac",
        "type": "ui_group",
        "name": "Principal",
        "tab": "f1ae75fa2e5787c5",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9939834aa62d782",
        "type": "ui_group",
        "name": "Principal",
        "tab": "1ecc5089.33b77f",
        "order": 3,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c5b638c.a8f91c",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "70a63b74.44894c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "PQA.CTS.CT1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "cf0d5223.b4dab",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "70a63b74.44894c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "PQA.CTS.CT2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "7cc997fc.b5d5b8",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "70a63b74.44894c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "PQA.CTS",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "83dce8ae2adb063d",
        "type": "inject",
        "z": "5763328140ab65c2",
        "g": "70a63b74.44894c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "500",
        "payloadType": "num",
        "x": 150,
        "y": 980,
        "wires": [
            [
                "5c5b638c.a8f91c"
            ]
        ]
    },
    {
        "id": "d22f737e1faaee45",
        "type": "inject",
        "z": "5763328140ab65c2",
        "g": "70a63b74.44894c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "cf0d5223.b4dab"
            ]
        ]
    },
    {
        "id": "ed025e5c.648858",
        "type": "modbus-flex-getter",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "PQA Modbus TCP",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "ae58460d.12c698",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "a65e22e6.71c65",
                "d3d2bf92f1387fd6",
                "f54284edcaf056e4"
            ],
            []
        ]
    },
    {
        "id": "6188debb.009948",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Lectura PQA",
        "func": "var count = context.get(\"Count\")||0;\n\n// Real Time Parameters\nif(count === 0){\n    msg.topic = \"Real Time Parameters\";\n    msg.payload = { 'fc': 3, \n                    'unitid': 5, \n                    'address': 16384, \n                    'quantity': 39*2 \n    }\n    count ++;\n}\n\n// Energy Parameters\nelse if (count == 1){\n    msg.topic = \"Energy Parameters\";\n    msg.payload = { 'fc': 3, \n                    'unitid': 5, \n                    'address': 16456, \n                    'quantity': 24*2 \n    }\n    count ++;\n}\n\n// Harmonics - Power Quality\nelse if (count == 2){\n    msg.topic = \"Power Quality\";\n    msg.payload = { 'fc': 3, \n                    'unitid': 5, \n                    'address': 16474, \n                    'quantity': 8 \n    }\n    count ++;\n}\n\n// Phase Angles\nelse if (count == 3){\n    msg.topic = \"Phase Angles\";\n    msg.payload = { 'fc': 3, \n                    'unitid': 5, \n                    'address': 17056, \n                    'quantity': 5 \n    }\n    count ++;\n}\nelse if (count == 4){\n    msg.topic = \"Harmonics_V1(V12)\";\n    msg.payload = { 'fc': 3, \n                    'unitid': 5, \n                    'address': 16482, \n                    'quantity': 12 \n    }\n    count ++;\n}\nelse if (count == 5){\n    msg.topic = \"Harmonics_V2(V31)\";\n    msg.payload = { 'fc': 3, \n                    'unitid': 5, \n                    'address': 16516, \n                    'quantity': 12 \n    }\n    count ++;\n}\nelse if (count == 6){\n    msg.topic = \"Harmonics_V3(V23)\";\n    msg.payload = { 'fc': 3, \n                    'unitid': 5, \n                    'address': 16550, \n                    'quantity': 12 \n    }\n    count ++;\n}\nelse if (count == 7){\n    msg.topic = \"Harmonics_I1\";\n    msg.payload = { 'fc': 3, \n                    'unitid': 5, \n                    'address': 16584, \n                    'quantity': 12 \n    }\n    count ++;\n}\nelse if (count == 8){\n    msg.topic = \"Harmonics_I2\";\n    msg.payload = { 'fc': 3, \n                    'unitid': 5, \n                    'address': 16617, \n                    'quantity': 12 \n    }\n    count ++;\n}\nelse if (count == 9){\n    msg.topic = \"Harmonics_I3\";\n    msg.payload = { 'fc': 3, \n                    'unitid': 5, \n                    'address': 16650, \n                    'quantity': 12 \n    }\n    count ++;\n}\n\n// Error\nelse {\n    msg.topic = msg.payload;\n    msg.payload = \"Function Error!\";\n}\n\n// Count Reset\nif(count > 9){count = 0;}\n\n// Context update\ncontext.set(\"Count\",count);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 260,
        "wires": [
            [
                "ed025e5c.648858",
                "3bd8b039f4c56513"
            ]
        ]
    },
    {
        "id": "5fe9be31.70c2a",
        "type": "inject",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "6188debb.009948"
            ]
        ]
    },
    {
        "id": "1f4cd023.43eb4",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Real Time Parameters IEC754 to Float ",
        "func": "var CTS = global.get('PQA.CTS') || null;\nvar RelCT = CTS !== null ? CTS.CT1/CTS.CT2 :1;\n\n// Convert 2 registers of 16 bits in one of 32 bits\nvar Frequency               = ((msg.payload[0] << 16) + msg.payload[1]); Frequency                  = Int2Float32(Frequency);\nvar Phase_1_Voltage\t        = ((msg.payload[2] << 16) + msg.payload[3]); Phase_1_Voltage            = Int2Float32(Phase_1_Voltage);\nvar Phase_2_Voltage         = ((msg.payload[4] << 16) + msg.payload[5]); Phase_2_Voltage            = Int2Float32(Phase_2_Voltage);\nvar Phase_3_Voltage         = ((msg.payload[6] << 16) + msg.payload[7]); Phase_3_Voltage            = Int2Float32(Phase_3_Voltage);\nvar Average_Phase_Voltage\t= ((msg.payload[8] << 16) + msg.payload[9]); Average_Phase_Voltage      = Int2Float32(Average_Phase_Voltage);\n\nvar Line_Voltage_1_2        = ((msg.payload[10] << 16) + msg.payload[11]); Line_Voltage_1_2         = Int2Float32(Line_Voltage_1_2);\nvar Line_Voltage_2_3        = ((msg.payload[12] << 16) + msg.payload[13]); Line_Voltage_2_3         = Int2Float32(Line_Voltage_2_3);\nvar Line_Voltage_3_1        = ((msg.payload[14] << 16) + msg.payload[15]); Line_Voltage_3_1         = Int2Float32(Line_Voltage_3_1);\nvar Average_Line_Voltage\t= ((msg.payload[16] << 16) + msg.payload[17]); Average_Line_Voltage     = Int2Float32(Average_Line_Voltage);\n\nvar Total_Phase_A_Current   = ((msg.payload[18] << 16) + msg.payload[19]); Total_Phase_A_Current    = Int2Float32(Total_Phase_A_Current);\nvar Total_Phase_B_Current\t= ((msg.payload[20] << 16) + msg.payload[21]); Total_Phase_B_Current    = Int2Float32(Total_Phase_B_Current);\nvar Total_Phase_C_Current   = ((msg.payload[22] << 16) + msg.payload[23]); Total_Phase_C_Current    = Int2Float32(Total_Phase_C_Current);\nvar Average_Phase_Current\t= ((msg.payload[24] << 16) + msg.payload[25]); Average_Phase_Current    = Int2Float32(Average_Phase_Current);\nvar Neutral_Current         = ((msg.payload[26] << 16) + msg.payload[27]); Neutral_Current          = Int2Float32(Neutral_Current);\n\nvar Phase_A_Power           = ((msg.payload[28] << 16) + msg.payload[29]); Phase_A_Power            = Int2Float32(Phase_A_Power);\nvar Phase_B_Power\t        = ((msg.payload[30] << 16) + msg.payload[31]); Phase_B_Power            = Int2Float32(Phase_B_Power);\nvar Phase_C_Power           = ((msg.payload[32] << 16) + msg.payload[33]); Phase_C_Power\t        = Int2Float32(Phase_C_Power);\nvar Total_System_Power      = ((msg.payload[34] << 16) + msg.payload[35]); Total_System_Power       = Int2Float32(Total_System_Power);\n\nvar Phase_A_Reactive_Power  = ((msg.payload[36] << 16) + msg.payload[37]); Phase_A_Reactive_Power   = Int2Float32(Phase_A_Reactive_Power);\nvar Phase_B_Reactive_Power\t= ((msg.payload[38] << 16) + msg.payload[39]); Phase_B_Reactive_Power   = Int2Float32(Phase_B_Reactive_Power);\nvar Phase_C_Reactive_Power\t= ((msg.payload[40] << 16) + msg.payload[41]); Phase_C_Reactive_Power   = Int2Float32(Phase_C_Reactive_Power);\nvar Total_Reactive_Power    = ((msg.payload[42] << 16) + msg.payload[43]); Total_Reactive_Power     = Int2Float32(Total_Reactive_Power);\n\nvar Phase_A_Apparent_Power\t= ((msg.payload[44] << 16) + msg.payload[45]); Phase_A_Apparent_Power   = Int2Float32(Phase_A_Apparent_Power);\nvar Phase_B_Apparent_Power\t= ((msg.payload[46] << 16) + msg.payload[47]); Phase_B_Apparent_Power   = Int2Float32(Phase_B_Apparent_Power);\nvar Phase_C_Apparent_Power\t= ((msg.payload[48] << 16) + msg.payload[49]); Phase_C_Apparent_Power   = Int2Float32(Phase_C_Apparent_Power);\nvar Total_Apparent_Power\t= ((msg.payload[50] << 16) + msg.payload[51]); Total_Apparent_Power     = Int2Float32(Total_Apparent_Power);\n\nvar Phase_A_Power_Factor\t= ((msg.payload[52] << 16) + msg.payload[53]); Phase_A_Power_Factor     = Int2Float32(Phase_A_Power_Factor);\nvar Phase_B_Power_Factor    = ((msg.payload[54] << 16) + msg.payload[55]); Phase_B_Power_Factor     = Int2Float32(Phase_B_Power_Factor);\nvar Phase_C_Power_Factor    = ((msg.payload[56] << 16) + msg.payload[57]); Phase_C_Power_Factor     = Int2Float32(Phase_C_Power_Factor);\nvar Total_Power_Factor\t    = ((msg.payload[58] << 16) + msg.payload[59]); Total_Power_Factor       = Int2Float32(Total_Power_Factor);\n\n// Output Message\nmsg.payload = {\n    \"Frequency\"                 : Frequency,\n    \"Phase_1_Voltage\"           : Phase_1_Voltage,\n    \"Phase_2_Voltage\"           : Phase_2_Voltage,\n    \"Phase_3_Voltage\"           : Phase_3_Voltage,\n    \"Average_Phase_Voltage\"     : Average_Phase_Voltage,\n    \"Line_Voltage_1_2\"          : Line_Voltage_1_2,\n    \"Line_Voltage_2_3\"          : Line_Voltage_2_3,\n    \"Line_Voltage_3_1\"          : Line_Voltage_3_1,\n    \"Average_Line_Voltage\"      : Average_Line_Voltage,\n    \"Total_Phase_A_Current\"     : RelCT * Total_Phase_A_Current,\n    \"Total_Phase_B_Current\"     : RelCT * Total_Phase_B_Current,\n    \"Total_Phase_C_Current\"     : RelCT * Total_Phase_C_Current,\n    \"Average_Phase_Current\"     : RelCT * Average_Phase_Current,\n    \"Neutral_Current\"           : Neutral_Current,\n    \"Phase_A_Power\"             : RelCT * Phase_A_Power/1000,\n    \"Phase_B_Power\"             : RelCT * Phase_B_Power/1000,\n    \"Phase_C_Power\"             : RelCT * Phase_C_Power/1000,\n    \"Total_System_Power\"        : RelCT * Total_System_Power/1000,\n    \"Phase_A_Reactive_Power\"    : RelCT * Phase_A_Reactive_Power/1000,\n    \"Phase_B_Reactive_Power\"    : RelCT * Phase_B_Reactive_Power/1000,\n    \"Phase_C_Reactive_Power\"    : RelCT * Phase_C_Reactive_Power/1000,\n    \"Total_Reactive_Power\"      : RelCT * Total_Reactive_Power/1000,\n    \"Phase_A_Apparent_Power\"    : RelCT * Phase_A_Apparent_Power/1000,\n    \"Phase_B_Apparent_Power\"    : RelCT * Phase_B_Apparent_Power/1000,\n    \"Phase_C_Apparent_Power\"    : RelCT * Phase_C_Apparent_Power/1000,\n    \"Total_Apparent_Power\"      : RelCT * Total_Apparent_Power/1000,\n    \"Phase_A_Power_Factor\"      : Phase_A_Power_Factor,\n    \"Phase_B_Power_Factor\"      : Phase_B_Power_Factor,\n    \"Phase_C_Power_Factor\"      : Phase_C_Power_Factor,\n    \"Total_Power_Factor\"        : Total_Power_Factor\n}\n\nreturn msg;\n\n\n\n\n// IEC 754 to Float Function\n\n/* Converts from an number, string, buffer or array representing an IEEE-754 value\n * to a javascript float.\n * The following may be given in msg.payload:\n *      A string representing a number, which may be hex or binary\n *        examples, \"1735\"  \"0x02045789\"  0b01000000010010010000111111011011\n *      An integer value\n *      A four element array or buffer of 8 bit values, most significant byte first.\n*/ \n// first make a number from the given payload if necessary\n\nfunction Int2Float32(bytes) {\n    var sign = (bytes & 0x80000000) ? -1 : 1;\n    var exponent = ((bytes >> 23) & 0xFF) - 127;\n    var significand = (bytes & ~(-1 << 23));\n\n    if (exponent == 128) \n        return sign * ((significand) ? Number.NaN : Number.POSITIVE_INFINITY);\n\n    if (exponent == -127) {\n        if (significand === 0) return sign * 0.0;\n        exponent = -126;\n        significand /= (1 << 22);\n    } else significand = (significand | (1 << 23)) / (1 << 23);\n\n    return sign * significand * Math.pow(2, exponent);\n}\n\n// Créditos: https://flows.nodered.org/flow/359ead34237b7ab6ec0465ee85a34b62RelCT",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 990,
        "y": 80,
        "wires": [
            [
                "329a20ae.addd08"
            ]
        ]
    },
    {
        "id": "a65e22e6.71c65",
        "type": "switch",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Real Time Parameters",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Energy Parameters",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Power Quality",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Phase Angles",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Harmonics_V1(V12)",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Harmonics_V2(V31)",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Harmonics_V3(V23)",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Harmonics_I1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Harmonics_I2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Harmonics_I3",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 10,
        "x": 690,
        "y": 260,
        "wires": [
            [
                "1f4cd023.43eb4"
            ],
            [
                "d1a9dbc4.33f7e"
            ],
            [
                "993f38ab.482e9"
            ],
            [
                "3f9fcc24.6fac3c"
            ],
            [
                "8d348d63.134818"
            ],
            [
                "339b7b9a.f4bb14"
            ],
            [
                "9d6fe8b8.eb7cf8"
            ],
            [
                "72ceef76.7f8f1"
            ],
            [
                "139d011a.841abf"
            ],
            [
                "ddee4aa9.906988"
            ]
        ]
    },
    {
        "id": "993f38ab.482e9",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics - Power Quality",
        "func": "msg.payload = {\n    \"THD_V1(V12)\"   : msg.payload[0]/100,\n    \"THD_V2(V31)\"   : msg.payload[1]/100,\n    \"THD_V3(V23)\"   : msg.payload[2]/100,\n    \"THD_avg\"       : msg.payload[3]/100,\n    \"THD_I1\"        : msg.payload[4]/100,\n    \"THD_I2\"        : msg.payload[5]/100,\n    \"THD_I3\"        : msg.payload[6]/100,\n    \"THD_Iavg\"      : msg.payload[7]/100\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 160,
        "wires": [
            [
                "7bbced0c.e692d4"
            ]
        ]
    },
    {
        "id": "3f9fcc24.6fac3c",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Phase Angles",
        "func": "msg.payload = {\n    \"Phase_Angle_of_V2_to_V1\"   : msg.payload[0]/10,\n    \"Phase_Angle_of_V3_to_V1\"   : msg.payload[1]/10,\n    \"Phase_Angle_of_I1_to_V1\"   : msg.payload[2]/10,\n    \"Phase_Angle_of_I2_to_V1\"   : msg.payload[3]/10,\n    \"Phase_Angle_of_I3_to_V1\"   : msg.payload[4]/10\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 200,
        "wires": [
            [
                "8f2ea546.30e13"
            ]
        ]
    },
    {
        "id": "d1a9dbc4.33f7e",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Energy Parameters IEC754 to Float ",
        "func": "/* Converts from an number, string, buffer or array representing an IEEE-754 value\n * to a javascript float.\n * The following may be given in msg.payload:\n *      A string representing a number, which may be hex or binary\n *        examples, \"1735\"  \"0x02045789\"  0b01000000010010010000111111011011\n *      An integer value\n *      A four element array or buffer of 8 bit values, most significant byte first.\n*/ \n// first make a number from the given payload if necessary\n\n\n// Convert 2 registers of 16 bits in one of 32 bits\nvar Consumed_Energy\t            = ((msg.payload[0] << 16) + msg.payload[1]); Consumed_Energy            = Int2Float32(Consumed_Energy);\nvar Generated_Energy\t\t    = ((msg.payload[2] << 16) + msg.payload[3]); Generated_Energy           = Int2Float32(Generated_Energy);\nvar Consumed_Reactive_Energy    = ((msg.payload[4] << 16) + msg.payload[5]); Consumed_Reactive_Energy   = Int2Float32(Consumed_Reactive_Energy);\nvar Generated_Reactive_Energy   = ((msg.payload[6] << 16) + msg.payload[7]); Generated_Reactive_Energy  = Int2Float32(Generated_Reactive_Energy);\nvar Total_Energy\t\t        = ((msg.payload[8] << 16) + msg.payload[9]); Total_Energy               = Int2Float32(Total_Energy);\n\n// Output Message\nmsg.payload = {\n    \"Consumed_Energy\"           : Consumed_Energy,\n    \"Generated_Energy\"          : Generated_Energy,\n    \"Consumed_Reactive_Energy\"  : Consumed_Reactive_Energy,\n    \"Generated_Reactive_Energy\" : Generated_Energy,\n    \"Total_Energy\"              : Total_Energy\n}\n\nreturn msg;\n\n// IEC 754 to Float Function\nfunction Int2Float32(bytes) {\n    var sign = (bytes & 0x80000000) ? -1 : 1;\n    var exponent = ((bytes >> 23) & 0xFF) - 127;\n    var significand = (bytes & ~(-1 << 23));\n\n    if (exponent == 128) \n        return sign * ((significand) ? Number.NaN : Number.POSITIVE_INFINITY);\n\n    if (exponent == -127) {\n        if (significand === 0) return sign * 0.0;\n        exponent = -126;\n        significand /= (1 << 22);\n    } else significand = (significand | (1 << 23)) / (1 << 23);\n\n    return sign * significand * Math.pow(2, exponent);\n}\n\n// Créditos: https://flows.nodered.org/flow/359ead34237b7ab6ec0465ee85a34b62",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 120,
        "wires": [
            [
                "f69145ec.595428"
            ]
        ]
    },
    {
        "id": "329a20ae.addd08",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Real_Time_Parameters",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f69145ec.595428",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Energy_Parameters",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7bbced0c.e692d4",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Harmonics.Power_Quality",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8f2ea546.30e13",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Phase_Angles",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8d348d63.134818",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics - V1(V12)",
        "func": "msg.payload = {\n    \"THD_V1(V12)_3o\"    : msg.payload[1]/100,\n    \"THD_V1(V12)_5o\"    : msg.payload[3]/100,\n    \"THD_V1(V12)_7o\"    : msg.payload[5]/100,\n    \"THD_V1(V12)_9o\"    : msg.payload[7]/100,\n    \"THD_V1(V12)_11o\"   : msg.payload[9]/100,\n    \"THD_V1(V12)_13o\"   : msg.payload[11]/100,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 240,
        "wires": [
            [
                "5ff5e28d.2c7d74"
            ]
        ]
    },
    {
        "id": "5ff5e28d.2c7d74",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Harmonics.V1_V12",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9d6fe8b8.eb7cf8",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics_V3(V23)",
        "func": "msg.payload = {\n    \"THD_V3(V23)_3o\"    : msg.payload[1]/100,\n    \"THD_V3(V23)_5o\"    : msg.payload[3]/100,\n    \"THD_V3(V23)_7o\"    : msg.payload[5]/100,\n    \"THD_V3(V23)_9o\"    : msg.payload[7]/100,\n    \"THD_V3(V23)_11o\"   : msg.payload[9]/100,\n    \"THD_V3(V23)_13o\"   : msg.payload[11]/100,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 930,
        "y": 320,
        "wires": [
            [
                "f8287ebe.9bb3c8"
            ]
        ]
    },
    {
        "id": "f8287ebe.9bb3c8",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Harmonics.V3_V23",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "eaf2e52.a8fae18",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Harmonics.V2_V31",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "72ceef76.7f8f1",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics_I1",
        "func": "msg.payload = {\n    \"THD_I1_3o\"    : msg.payload[1]/100,\n    \"THD_I1_5o\"    : msg.payload[3]/100,\n    \"THD_I1_7o\"    : msg.payload[5]/100,\n    \"THD_I1_9o\"    : msg.payload[7]/100,\n    \"THD_I1_11o\"   : msg.payload[9]/100,\n    \"THD_I1_13o\"   : msg.payload[11]/100,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 360,
        "wires": [
            [
                "43ffc14d.a3cac8"
            ]
        ]
    },
    {
        "id": "139d011a.841abf",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics_I2",
        "func": "msg.payload = {\n    \"THD_I2_3o\"    : msg.payload[1]/100,\n    \"THD_I2_5o\"    : msg.payload[3]/100,\n    \"THD_I2_7o\"    : msg.payload[5]/100,\n    \"THD_I2_9o\"    : msg.payload[7]/100,\n    \"THD_I2_11o\"   : msg.payload[9]/100,\n    \"THD_I2_13o\"   : msg.payload[11]/100,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 400,
        "wires": [
            [
                "23986012.d8fc9"
            ]
        ]
    },
    {
        "id": "ddee4aa9.906988",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics_I3",
        "func": "msg.payload = {\n    \"THD_I3_3o\"    : msg.payload[1]/100,\n    \"THD_I3_5o\"    : msg.payload[3]/100,\n    \"THD_I3_7o\"    : msg.payload[5]/100,\n    \"THD_I3_9o\"    : msg.payload[7]/100,\n    \"THD_I3_11o\"   : msg.payload[9]/100,\n    \"THD_I3_13o\"   : msg.payload[11]/100,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 440,
        "wires": [
            [
                "894eb396.e8f0c"
            ]
        ]
    },
    {
        "id": "339b7b9a.f4bb14",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics_V2(V31)",
        "func": "msg.payload = {\n    \"THD_V2(V31)_3o\"    : msg.payload[1]/100,\n    \"THD_V2(V31)_5o\"    : msg.payload[3]/100,\n    \"THD_V2(V31)_7o\"    : msg.payload[5]/100,\n    \"THD_V2(V31)_9o\"    : msg.payload[7]/100,\n    \"THD_V2(V31)_11o\"   : msg.payload[9]/100,\n    \"THD_V2(V31)_13o\"   : msg.payload[11]/100,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 930,
        "y": 280,
        "wires": [
            [
                "eaf2e52.a8fae18"
            ]
        ]
    },
    {
        "id": "894eb396.e8f0c",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Harmonics.I3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "23986012.d8fc9",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Harmonics.I2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "43ffc14d.a3cac8",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Harmonics.I1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d3d2bf92f1387fd6",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "3bd8b039f4c56513"
            ]
        ]
    },
    {
        "id": "3bd8b039f4c56513",
        "type": "trigger",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "op1": "0",
        "op2": "lostconnection",
        "op1type": "num",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "reset",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "30c7e65d47bd2971"
            ]
        ]
    },
    {
        "id": "30c7e65d47bd2971",
        "type": "switch",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "!=0",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "1bd0aa4e49b351af"
            ]
        ]
    },
    {
        "id": "2003f49f54e21777",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Real Time Parameters IEC754 to Float ",
        "func": "// Output Message\nmsg.payload = {\n    \"Frequency\"                 : 0,\n    \"Phase_1_Voltage\"           : 0,\n    \"Phase_2_Voltage\"           : 0,\n    \"Phase_3_Voltage\"           : 0,\n    \"Average_Phase_Voltage\"     : 0,\n    \"Line_Voltage_1_2\"          : 0,\n    \"Line_Voltage_2_3\"          : 0,\n    \"Line_Voltage_3_1\"          : 0,\n    \"Average_Line_Voltage\"      : 0,\n    \"Total_Phase_A_Current\"     : 0,\n    \"Total_Phase_B_Current\"     : 0,\n    \"Total_Phase_C_Current\"     : 0,\n    \"Average_Phase_Current\"     : 0,\n    \"Neutral_Current\"           : 0,\n    \"Phase_A_Power\"             : 0,\n    \"Phase_B_Power\"             : 0,\n    \"Phase_C_Power\"             : 0,\n    \"Total_System_Power\"        : 0,\n    \"Phase_A_Reactive_Power\"    : 0,\n    \"Phase_B_Reactive_Power\"    : 0,\n    \"Phase_C_Reactive_Power\"    : 0,\n    \"Total_Reactive_Power\"      : 0,\n    \"Phase_A_Apparent_Power\"    : 0,\n    \"Phase_C_Apparent_Power\"    : 0,\n    \"Phase_B_Apparent_Power\"    : 0,\n    \"Total_Apparent_Power\"      : 0,\n    \"Phase_A_Power_Factor\"      : 0,\n    \"Phase_B_Power_Factor\"      : 0,\n    \"Phase_C_Power_Factor\"      : 0,\n    \"Total_Power_Factor\"        : 0\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 480,
        "wires": [
            [
                "329a20ae.addd08"
            ]
        ]
    },
    {
        "id": "d51a596fcfbf93f0",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Energy Parameters IEC754 to Float ",
        "func": "\n// Output Message\nmsg.payload = {\n    \"Consumed_Energy\"           : 0,\n    \"Generated_Energy\"          : 0,\n    \"Consumed_Reactive_Energy\"  : 0,\n    \"Generated_Reactive_Energy\" : 0,\n    \"Total_Energy\"              : 0\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "f69145ec.595428"
            ]
        ]
    },
    {
        "id": "d7c4d57611493bd3",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics - Power Quality",
        "func": "msg.payload = {\n    \"THD_V1(V12)\"   : 0,\n    \"THD_V2(V31)\"   : 0,\n    \"THD_V3(V23)\"   : 0,\n    \"THD_avg\"       : 0,\n    \"THD_I1\"        : 0,\n    \"THD_I2\"        : 0,\n    \"THD_I3\"        : 0,\n    \"THD_Iavg\"      : 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 560,
        "wires": [
            [
                "7bbced0c.e692d4"
            ]
        ]
    },
    {
        "id": "2ceb25cffb9d80e4",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Phase Angles",
        "func": "msg.payload = {\n    \"Phase_Angle_of_V2_to_V1\"   : 0,\n    \"Phase_Angle_of_V3_to_V1\"   : 0,\n    \"Phase_Angle_of_I1_to_V1\"   : 0,\n    \"Phase_Angle_of_I2_to_V1\"   : 0,\n    \"Phase_Angle_of_I3_to_V1\"   : 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 600,
        "wires": [
            [
                "8f2ea546.30e13"
            ]
        ]
    },
    {
        "id": "5e2a332d18ad3650",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics - V1(V12)",
        "func": "msg.payload = {\n    \"THD_V1(V12)_3o\"    : 0,\n    \"THD_V1(V12)_5o\"    : 0,\n    \"THD_V1(V12)_7o\"    : 0,\n    \"THD_V1(V12)_9o\"    : 0,\n    \"THD_V1(V12)_11o\"   : 0,\n    \"THD_V1(V12)_13o\"   : 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 640,
        "wires": [
            [
                "5ff5e28d.2c7d74"
            ]
        ]
    },
    {
        "id": "1a122bae4ed0bf36",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics_V2(V31)",
        "func": "msg.payload = {\n    \"THD_V2(V31)_3o\"    : 0,\n    \"THD_V2(V31)_5o\"    : 0,\n    \"THD_V2(V31)_7o\"    : 0,\n    \"THD_V2(V31)_9o\"    : 0,\n    \"THD_V2(V31)_11o\"   : 0,\n    \"THD_V2(V31)_13o\"   : 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 680,
        "wires": [
            [
                "eaf2e52.a8fae18"
            ]
        ]
    },
    {
        "id": "da4c68da2f239de1",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics_V3(V23)",
        "func": "msg.payload = {\n    \"THD_V3(V23)_3o\"    : 0,\n    \"THD_V3(V23)_5o\"    : 0,\n    \"THD_V3(V23)_7o\"    : 0,\n    \"THD_V3(V23)_9o\"    : 0,\n    \"THD_V3(V23)_11o\"   : 0,\n    \"THD_V3(V23)_13o\"   : 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 720,
        "wires": [
            [
                "f8287ebe.9bb3c8"
            ]
        ]
    },
    {
        "id": "c362c1dcf4cc0796",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics_I1",
        "func": "msg.payload = {\n    \"THD_I1_3o\"    : 0,\n    \"THD_I1_5o\"    : 0,\n    \"THD_I1_7o\"    : 0,\n    \"THD_I1_9o\"    : 0,\n    \"THD_I1_11o\"   : 0,\n    \"THD_I1_13o\"   : 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 760,
        "wires": [
            [
                "43ffc14d.a3cac8"
            ]
        ]
    },
    {
        "id": "3878a4d12166cb8d",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics_I2",
        "func": "msg.payload = {\n    \"THD_I2_3o\"    : 0,\n    \"THD_I2_5o\"    : 0,\n    \"THD_I2_7o\"    : 0,\n    \"THD_I2_9o\"    : 0,\n    \"THD_I2_11o\"   : 0,\n    \"THD_I2_13o\"   : 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 800,
        "wires": [
            [
                "23986012.d8fc9"
            ]
        ]
    },
    {
        "id": "c11fe0bdbc916732",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "Harmonics_I3",
        "func": "msg.payload = {\n    \"THD_I3_3o\"    : 0,\n    \"THD_I3_5o\"    : 0,\n    \"THD_I3_7o\"    : 0,\n    \"THD_I3_9o\"    : 0,\n    \"THD_I3_11o\"   : 0,\n    \"THD_I3_13o\"   : 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 840,
        "wires": [
            [
                "894eb396.e8f0c"
            ]
        ]
    },
    {
        "id": "1bd0aa4e49b351af",
        "type": "link out",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "links": [
            "1c1081933f39a28b",
            "cd759f2045b5bef1",
            "815a917abb15058c"
        ],
        "x": 625,
        "y": 160,
        "wires": []
    },
    {
        "id": "cd759f2045b5bef1",
        "type": "link in",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "links": [
            "1bd0aa4e49b351af"
        ],
        "x": 765,
        "y": 840,
        "wires": [
            [
                "2003f49f54e21777",
                "d51a596fcfbf93f0",
                "d7c4d57611493bd3",
                "2ceb25cffb9d80e4",
                "5e2a332d18ad3650",
                "1a122bae4ed0bf36",
                "da4c68da2f239de1",
                "c362c1dcf4cc0796",
                "3878a4d12166cb8d",
                "c11fe0bdbc916732"
            ]
        ]
    },
    {
        "id": "56708d2b8fa5451d",
        "type": "rbe",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 360,
        "y": 390,
        "wires": [
            [
                "7ef87d44828138c4",
                "bb92b76588cce739"
            ]
        ]
    },
    {
        "id": "815a917abb15058c",
        "type": "link in",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "links": [
            "1bd0aa4e49b351af"
        ],
        "x": 275,
        "y": 410,
        "wires": [
            [
                "56708d2b8fa5451d"
            ]
        ]
    },
    {
        "id": "f54284edcaf056e4",
        "type": "change",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 370,
        "wires": [
            [
                "56708d2b8fa5451d"
            ]
        ]
    },
    {
        "id": "7ef87d44828138c4",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "evento",
        "func": "if (msg.payload ==\"lostconnection\"){\n    msg.payload = \"Pérdida de comunicación con PQA\";\n    msg.topic = \"PQA\";\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 390,
        "wires": [
            [
                "79ed59278564eccd"
            ]
        ]
    },
    {
        "id": "79ed59278564eccd",
        "type": "link out",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "links": [
            "2da816b7.b2be9a",
            "cbbbcd1c.7180e"
        ],
        "x": 565,
        "y": 390,
        "wires": []
    },
    {
        "id": "bb92b76588cce739",
        "type": "function",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "evento",
        "func": "var count = context.get(\"count\",\"memoryOnly\")||0;\nif (count == 0) context.set(\"count\", 1,\"memoryOnly\");\nif ((msg.payload ==\"data\")&&(count>0)){\n    msg.payload = \"Comunicación PQA establecida\";\n    msg.topic = \"PQA\";\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 430,
        "wires": [
            [
                "20a33011be6557f7"
            ]
        ]
    },
    {
        "id": "20a33011be6557f7",
        "type": "link out",
        "z": "5763328140ab65c2",
        "g": "ee01b6d1.f76f98",
        "name": "",
        "links": [
            "207ea8ce.3dea68"
        ],
        "x": 565,
        "y": 430,
        "wires": []
    },
    {
        "id": "a26daa21fd0e2064",
        "type": "function",
        "z": "813aa2de297becf0",
        "name": "Adquision",
        "func": "var data = [1,2,3,4,5,6,7,8,9,10,11];\n\nvar VSDABB = {\n    current: data[0],\n    busDc: data[1],\n    hzMotor: data[2],\n    spm: data[3],\n    torqueMotor : data[4],\n    voltajeMotor: data[5],\n    potencia : data[6],\n    factorPotencia : data[7],\n}\n\nglobal.set('VSDABB.Motor', VSDABB ,'memoryOnly');//guardando la variable global\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d2b1f7ce20cb20d7",
        "type": "link in",
        "z": "813aa2de297becf0",
        "name": "adquirirDataVSD",
        "links": [
            "7e6534ef71b0201d"
        ],
        "x": 315,
        "y": 120,
        "wires": [
            [
                "a26daa21fd0e2064"
            ]
        ]
    },
    {
        "id": "4ea7eb06.9f2174",
        "type": "csv",
        "z": "03f12b36abe7a37c",
        "g": "6e3beedd60dca251",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 790,
        "y": 100,
        "wires": [
            [
                "4a152bf2.aedbf4"
            ]
        ]
    },
    {
        "id": "7e0625da.a5746c",
        "type": "function",
        "z": "03f12b36abe7a37c",
        "g": "6e3beedd60dca251",
        "name": "Creación de archivo",
        "func": "\nvar PQA               = global.get(\"PQA.Real_Time_Parameters\",'memoryOnly')   || null;\nvar Energy_Parameters = global.get(\"PQA.Energy_Parameters\",'memoryOnly')   || null;\nvar C2S               = global.get(\"C2S.Implicit\",'memoryOnly')               || null;\nvar DownHoleData      = global.get('Process_data','memoryOnly')               || null;\nvar MotorV            = global.get(\"C2S.Implicit.Output_Voltage\", 'memoryOnly') || 0;\nvar MotorI            = global.get(\"C2S.Implicit.Output_Current\", 'memoryOnly') || 0;\nvar date              = new Date();\nvar VSDABB            = global.get('VSDABB','memoryOnly')||0;\n// Date\nvar year            = date.getFullYear();\nvar month           = date.getMonth()+1;\nvar day             = date.getDate();\n\n//Time\nvar hours           = date.getHours();\nvar minutes         = date.getMinutes();\nvar seconds         = date.getSeconds();\n// Corriente y tensión de motor\nvar Rtx = global.get(\"C2S.RelTx\") || 1;\nvar Voltaje_Motor   =  MotorV * Rtx;\nvar Corriente_Motor =  MotorI / Rtx;\n\n// condiciones de ruta\nvar directorio = 'C:/Users/Velandia Juan/Desktop/DataloggerBull/';\nvar fecha = year + '/' + month + '-Month/' + day + '-day';\ndirectorio = directorio + '/' + fecha + '.csv'\nflow.set('directorio', directorio)\n\n\nmsg.payload = {\n    'fecha_hora'               : year + '/' + month + '/' + day + \" \" + hours + ':' + minutes + ':' + seconds,\n    'Frequency'                : PQA != null && typeof PQA.Frequency                                       != 'undefined' ? parseFloat(PQA.Frequency).toFixed(3) : \"0\",\n    'Average_Line_Voltage'     : PQA != null && typeof PQA.Average_Line_Voltage                            != 'undefined' ? parseFloat(PQA.Average_Line_Voltage).toFixed(3) : \"0\",\n    'Average_Phase_Current'    : PQA != null && typeof PQA.Average_Phase_Current                           != 'undefined' ? parseFloat(PQA.Average_Phase_Current).toFixed(3) : \"0\",\n    'Total_System_Power'       : PQA != null && typeof PQA.Total_System_Power                              != 'undefined' ? parseFloat(PQA.Total_System_Power).toFixed(3) : \"0\",\n    'Total_Power_Factor'       : PQA != null && typeof PQA.Total_Power_Factor                              != 'undefined' ? parseFloat(PQA.Total_Power_Factor).toFixed(3) : \"0\",\n    'Consumed_Energy'          : Energy_Parameters != null && typeof Energy_Parameters.Consumed_Energy != 'undefined' ? parseFloat(Energy_Parameters.Consumed_Energy).toFixed(3) : \"0\",\n    'Generated_Energy'         : Energy_Parameters != null && typeof Energy_Parameters.Generated_Energy != 'undefined' ? parseFloat(Energy_Parameters.Generated_Energy).toFixed(3) : \"0\",\n    'Consumed_Reactive_Energy' : Energy_Parameters != null && typeof Energy_Parameters.Consumed_Reactive_Energy != 'undefined' ? parseFloat(Energy_Parameters.Consumed_Reactive_Energy).toFixed(3) : \"0\",\n    'Generated_Reactive_Energy': Energy_Parameters != null && typeof Energy_Parameters.Generated_Reactive_Energy != 'undefined' ? parseFloat(Energy_Parameters.Generated_Reactive_Energy).toFixed(3) : \"0\",\n    'Total_Energy'             : Energy_Parameters != null && typeof Energy_Parameters.Total_Energy != 'undefined' ? parseFloat(Energy_Parameters.Total_Energy).toFixed(3) : \"0\",\n    'ABBCurrent'               : VSDABB.Motor.current,\n    'ABBbusDc'                 : VSDABB.Motor.busDc,\n    'ABBhzMotor'               : VSDABB.Motor.hzMotor,\n    'ABBtorqueMotor'           : VSDABB.Motor.torqueMotor,\n    'ABBvoltajeMotor'          : VSDABB.Motor.voltajeMotor,\n    'ABBpotencia'              : VSDABB.Motor.potencia,\n    'ABBfactorPotencia'        : VSDABB.Motor.factorPotencia,\n}\n\n// Archivo\nmsg.columns = Object.keys(msg.payload).toString();\n\nvar variables = {\n    fecha:fecha,\n    directorio: directorio,\n    contenido: msg.payload\n}\ncontext.set('variables',variables,'memoryOnly')\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 100,
        "wires": [
            [
                "848f2a15824cb334"
            ]
        ]
    },
    {
        "id": "4a152bf2.aedbf4",
        "type": "file",
        "z": "03f12b36abe7a37c",
        "g": "6e3beedd60dca251",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 920,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1eb399c9a54fa23f",
        "type": "inject",
        "z": "03f12b36abe7a37c",
        "g": "6e3beedd60dca251",
        "name": "",
        "props": [],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "7e0625da.a5746c"
            ]
        ]
    },
    {
        "id": "848f2a15824cb334",
        "type": "change",
        "z": "03f12b36abe7a37c",
        "g": "6e3beedd60dca251",
        "name": "ruta",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "directorio",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "4ea7eb06.9f2174"
            ]
        ]
    },
    {
        "id": "ce96fe756e53c0a0",
        "type": "ui_template",
        "z": "6518aabe6f06f6f4",
        "group": "764d8ce4.3c81b4",
        "name": "Logo / Clock",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n        var user =new Image();\n        logo.src = 'http://localhost:1880/swcpro-images/logoBCPGroup_bordeado.png'\n        logo.height = 60;\n        div1[0].style.margin = '5px auto';\n\n        div1.append(logo);\n        \n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '10px auto';\n        \n        function displayTime() {\n        p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n        \n        \n        var div3=$('<div />');\n        var pol = $('<p id=\"headerStatus\" />');\n        \n        div3[0].style.margin = '5px 5px 5px auto';\n        div3.append(pol);\n        \n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n\n            if(!toolbar.length) return;\n            toolbar.append(div3);\n            toolbar.append(div2);\n            toolbar.append(div1);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 90,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "42aefbb15cef5169",
        "type": "function",
        "z": "6518aabe6f06f6f4",
        "g": "79baabe43250cc9f",
        "name": "Data show",
        "func": "var Chart_Selection = flow.get(\"PQA.Harmonics_Chart.Selection\", \"memoryOnly\") || \"\";\n\n\nvar Frecuencia = global.get(\"PQA.Real_Time_Parameters.Frequency\", 'memoryOnly') || 0;\nvar LN,LL,Corriente,Factor_Protecia,THDV,THDI,Potencia,FP;\n\nif (Chart_Selection == \"Linea1\") {\n    LL = global.get(\"PQA.Real_Time_Parameters.Line_Voltage_1_2\", 'memoryOnly') || 0;\n    LN = global.get(\"PQA.Real_Time_Parameters.Phase_1_Voltage\", 'memoryOnly') || 0;\n    Corriente = global.get(\"PQA.Real_Time_Parameters.Total_Phase_A_Current\", 'memoryOnly') || 0;\n    THDV = global.get(\"PQA.Harmonics.Power_Quality['THD_V1(V12)']\",'memoryOnly')||0;\n    THDI = global.get(\"PQA.Harmonics.Power_Quality.THD_I1\",'memoryOnly')||0;\n    Potencia = global.get(\"PQA.Real_Time_Parameters.Phase_A_Power\",'memoryOnly')||0;\n    FP = global.get(\"PQA.Real_Time_Parameters.Phase_A_Power_Factor\", 'memoryOnly') || 0;\n\n}\nelse if (Chart_Selection == \"Linea2\") {\n    LL = global.get(\"PQA.Real_Time_Parameters.Line_Voltage_2_3\", 'memoryOnly') || 0;\n    LN = global.get(\"PQA.Real_Time_Parameters.Phase_2_Voltage\", 'memoryOnly') || 0;\n    Corriente = global.get(\"PQA.Real_Time_Parameters.Total_Phase_B_Current\", 'memoryOnly') || 0;\n    THDV = global.get(\"PQA.Harmonics.Power_Quality['THD_V2(V31)']\", 'memoryOnly') || 0;\n    THDI = global.get(\"PQA.Harmonics.Power_Quality.THD_I2\", 'memoryOnly') || 0;\n    Potencia = global.get(\"PQA.Real_Time_Parameters.Phase_B_Power\", 'memoryOnly') || 0;\n    FP = global.get(\"PQA.Real_Time_Parameters.Phase_B_Power_Factor\", 'memoryOnly') || 0;\n}\nelse if (Chart_Selection == \"Linea3\") {\n    LL = global.get(\"PQA.Real_Time_Parameters.Line_Voltage_3_1\", 'memoryOnly') || 0;\n    LN = global.get(\"PQA.Real_Time_Parameters.Phase_3_Voltage\", 'memoryOnly') || 0;\n    Corriente = global.get(\"PQA.Real_Time_Parameters.Total_Phase_C_Current\", 'memoryOnly') || 0;\n    THDV = global.get(\"PQA.Harmonics.Power_Quality['THD_V3(V23)']\", 'memoryOnly') || 0;\n    THDI = global.get(\"PQA.Harmonics.Power_Quality.THD_I3\", 'memoryOnly') || 0;\n    Potencia = global.get(\"PQA.Real_Time_Parameters.Phase_C_Power\", 'memoryOnly') || 0;\n    FP = global.get(\"PQA.Real_Time_Parameters.Phase_C_Power_Factor\", 'memoryOnly') || 0;\n\n}\nelse if (Chart_Selection == \"LineaP\") {\n    LN = global.get(\"PQA.Real_Time_Parameters.Average_Phase_Voltage\", 'memoryOnly') || 0;\n    LL = global.get(\"PQA.Real_Time_Parameters.Average_Line_Voltage\", 'memoryOnly') || 0;\n    THDV = global.get(\"PQA.Harmonics.Power_Quality.THD_avg\",'memoryOnly') || 0;\n    THDI = global.get(\"PQA.Harmonics.Power_Quality.THD_Iavg\", 'memoryOnly') || 0;\n    Corriente = global.get(\"PQA.Real_Time_Parameters.Average_Phase_Current\", 'memoryOnly') || 0;\n    Potencia = global.get(\"PQA.Real_Time_Parameters.Total_System_Power\",'memoryOnly')||0;\n    FP = global.get(\"PQA.Real_Time_Parameters.Total_Power_Factor\",'memoryOnly') || 0;\n}\n\nreturn [\n    { payload: catcherror(LN, 1) + \" \" + \"V\" },\n    { payload: catcherror(LL, 1) + \" \" + \"V\" },\n    { payload: catcherror(Corriente, 1) + \" \" + \"A\" },\n    { payload: catcherror(FP, 2) + \" \" + \"\" },\n    { payload: catcherror(THDV, 2) + \" \" + \"%\" },\n    { payload: catcherror(THDI, 2) + \" \" + \"%\" },\n    { payload: catcherror(Potencia, 1) + \" \" + \"kW\" },\n    { payload: catcherror(Frecuencia, 2) + \" \" + \"Hz\" }\n]\n\nfunction catcherror(variable, dec) {\n    if (typeof variable === 'undefined'){//si no fue definida la variable\n        return -1\n    }else{\n        return parseFloat(variable.toFixed(dec));\n    }\n}\n",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "ebb09443ee832552"
            ],
            [
                "1f8135572f14ee89"
            ],
            [
                "bb738cfa3cff7bc9"
            ],
            [
                "824a933d151e6dd6"
            ],
            [
                "d205dbaea632b9c3"
            ],
            [
                "63918716efe5d959"
            ],
            [
                "6c81d81d5af4b363"
            ],
            [
                "1f5eca3b3d4644e0"
            ]
        ],
        "outputLabels": [
            "LN",
            "LL",
            "Corriente",
            "THDV",
            "THDI",
            "Potencia",
            "FP",
            "Frecuencia"
        ]
    },
    {
        "id": "ebb09443ee832552",
        "type": "ui_text",
        "z": "6518aabe6f06f6f4",
        "g": "79baabe43250cc9f",
        "group": "a9939834aa62d782",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "LN:",
        "format": "<font size =4px>{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "1f8135572f14ee89",
        "type": "ui_text",
        "z": "6518aabe6f06f6f4",
        "g": "79baabe43250cc9f",
        "group": "a9939834aa62d782",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "LL:",
        "format": "<font size =4px>{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 520,
        "y": 260,
        "wires": []
    },
    {
        "id": "bb738cfa3cff7bc9",
        "type": "ui_text",
        "z": "6518aabe6f06f6f4",
        "g": "79baabe43250cc9f",
        "group": "a9939834aa62d782",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Corriente:",
        "format": "<font size =4px>{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "6c81d81d5af4b363",
        "type": "ui_text",
        "z": "6518aabe6f06f6f4",
        "g": "79baabe43250cc9f",
        "group": "a9939834aa62d782",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Potencia:",
        "format": "<font size =4px>{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "d205dbaea632b9c3",
        "type": "ui_text",
        "z": "6518aabe6f06f6f4",
        "g": "79baabe43250cc9f",
        "group": "a9939834aa62d782",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "THD (V):",
        "format": "<font size =4px>{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "63918716efe5d959",
        "type": "ui_text",
        "z": "6518aabe6f06f6f4",
        "g": "79baabe43250cc9f",
        "group": "a9939834aa62d782",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "THD (I):",
        "format": "<font size =4px>{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "824a933d151e6dd6",
        "type": "ui_text",
        "z": "6518aabe6f06f6f4",
        "g": "79baabe43250cc9f",
        "group": "a9939834aa62d782",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "FP:",
        "format": "<font size =4px>{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 520,
        "y": 460,
        "wires": []
    },
    {
        "id": "1f5eca3b3d4644e0",
        "type": "ui_text",
        "z": "6518aabe6f06f6f4",
        "g": "79baabe43250cc9f",
        "group": "a9939834aa62d782",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Frec.:",
        "format": "<font size =4px>{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "7690c62e63030907",
        "type": "switch",
        "z": "6518aabe6f06f6f4",
        "g": "79baabe43250cc9f",
        "name": "home",
        "property": "#:(memoryOnly)::Navegación.Pantalla",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "Principal",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "42aefbb15cef5169"
            ]
        ]
    },
    {
        "id": "91adf3df1df1bf4e",
        "type": "link in",
        "z": "6518aabe6f06f6f4",
        "g": "79baabe43250cc9f",
        "name": "datos de fase",
        "links": [
            "7e6534ef71b0201d"
        ],
        "x": 85,
        "y": 360,
        "wires": [
            [
                "7690c62e63030907",
                "c55f66f375e44d6b"
            ]
        ]
    },
    {
        "id": "b7e3e782b317f3dd",
        "type": "ui_chart",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "",
        "group": "a9939834aa62d782",
        "order": 2,
        "width": 10,
        "height": 6,
        "label": "{{msg.label}}",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Falla de comunicación con PQA",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f20707",
            "#033e8c",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1810,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "fcb0150902a39169",
        "type": "function",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "Harmonics chart generation",
        "func": "var chart = \n[{\n    \"series\": [\"THD-V\", \"THD-I\"],\n    \"data\": msg.payload,\n    \"labels\": [ \"1o\", \"3o\",\"5o\",\"7o\",\"9o\",\"11o\",\"13o\"]\n}];\n\nmsg.payload = chart;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1620,
        "y": 340,
        "wires": [
            [
                "b7e3e782b317f3dd"
            ]
        ]
    },
    {
        "id": "c5fecc81ab99cbf5",
        "type": "ui_dropdown",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "",
        "label": "Fase",
        "tooltip": "",
        "place": "Seleccionar fase",
        "group": "a9939834aa62d782",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Fase1 ",
                "value": "Linea1",
                "type": "str"
            },
            {
                "label": "Fase 2",
                "value": "Linea2",
                "type": "str"
            },
            {
                "label": "Fase 3 ",
                "value": "Linea3",
                "type": "str"
            },
            {
                "label": "Promedio",
                "value": "LineaP",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 1110,
        "y": 390,
        "wires": [
            [
                "98082a63869f198c"
            ]
        ]
    },
    {
        "id": "2d16ae81892a1843",
        "type": "link in",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "",
        "links": [
            "97407954.a004c8"
        ],
        "x": 745,
        "y": 420,
        "wires": [
            [
                "7f2810865baf7092"
            ]
        ]
    },
    {
        "id": "7f2810865baf7092",
        "type": "switch",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "User in harmonics Screen ?",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Principal",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Principal",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 920,
        "y": 460,
        "wires": [
            [
                "01a0273da1d95130"
            ],
            [
                "956a8248b1a90f29"
            ]
        ]
    },
    {
        "id": "01a0273da1d95130",
        "type": "change",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Harmonics_Chart.Prompt",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "956a8248b1a90f29",
        "type": "change",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Harmonics_Chart.Prompt",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "be658f2d97c06ae7",
        "type": "function",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "Data Handle harmonics chart",
        "func": "var PQA_Data                = global.get(\"PQA.Harmonics\", \"memoryOnly\") ||\"[]\";\nvar Chart_Selection         = flow.get(\"PQA.Harmonics_Chart.Selection\", \"memoryOnly\") || \"\";\n\nvar Linea1_V = Object.values(PQA_Data.V1_V12);\nvar Linea1_I = Object.values(PQA_Data.I1);\n\nvar Linea2_V = Object.values(PQA_Data.V2_V31);\nvar Linea2_I = Object.values(PQA_Data.I2);\n\n\nvar Linea3_V = Object.values(PQA_Data.V3_V23);\nvar Linea3_I = Object.values(PQA_Data.I3);\n\nvar LineaP_V = [\n                    ((Linea1_V[0]+Linea2_V[0]+Linea3_V[0])/3).toFixed(2),\n                    ((Linea1_V[1]+Linea2_V[1]+Linea3_V[1])/3).toFixed(2),\n                    ((Linea1_V[2]+Linea2_V[0]+Linea3_V[2])/3).toFixed(2),\n                    ((Linea1_V[3]+Linea2_V[0]+Linea3_V[3])/3).toFixed(2),\n                    ((Linea1_V[4]+Linea2_V[0]+Linea3_V[4])/3).toFixed(2),\n                    ((Linea1_V[5]+Linea2_V[0]+Linea3_V[5])/3).toFixed(2)\n                ];\nvar LineaP_I = [\n                    ((Linea1_I[0]+Linea2_I[0]+Linea3_I[0])/3).toFixed(2),\n                    ((Linea1_I[1]+Linea2_I[1]+Linea3_I[1])/3).toFixed(2),\n                    ((Linea1_I[2]+Linea2_I[0]+Linea3_I[2])/3).toFixed(2),\n                    ((Linea1_I[3]+Linea2_I[0]+Linea3_I[3])/3).toFixed(2),\n                    ((Linea1_I[4]+Linea2_I[0]+Linea3_I[4])/3).toFixed(2),\n                    ((Linea1_I[5]+Linea2_I[0]+Linea3_I[5])/3).toFixed(2),\n                ];\n\nif(Chart_Selection == \"Linea1\")\n    {\n        msg.payload =  [ Linea1_V , Linea1_I];\n        msg.label   = \"Porcentaje Armónico Línea 1\";\n    }\nelse if(Chart_Selection == \"Linea2\")\n    {\n        msg.payload =  [ Linea2_V , Linea2_I];\n        msg.label   = \"Porcentaje Armónico Línea 2\";\n    }\nelse if(Chart_Selection == \"Linea3\")\n    {\n        msg.payload =  [ Linea3_V , Linea3_I];\n        msg.label   = \"Porcentaje Armónico Línea 3\";\n    }\nelse if(Chart_Selection == \"LineaP\")\n    {\n        {\n        msg.payload =  [ LineaP_V , LineaP_I];\n        msg.label   = \"Porcentaje Armónico Promedio\";\n    }\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1360,
        "y": 340,
        "wires": [
            [
                "fcb0150902a39169"
            ]
        ]
    },
    {
        "id": "cf48cc7a9e511e75",
        "type": "switch",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "Harmonics Chart Prompted? ",
        "property": "#:(memoryOnly)::PQA.Harmonics_Chart.Prompt",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1080,
        "y": 340,
        "wires": [
            [
                "be658f2d97c06ae7"
            ]
        ]
    },
    {
        "id": "98082a63869f198c",
        "type": "change",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::PQA.Harmonics_Chart.Selection",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 390,
        "wires": [
            []
        ]
    },
    {
        "id": "a2eb2831d853fe64",
        "type": "change",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "LineaP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 390,
        "wires": [
            [
                "c5fecc81ab99cbf5"
            ]
        ]
    },
    {
        "id": "955053ddb39412a7",
        "type": "link in",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "",
        "links": [
            "ecf98f3f.4a704"
        ],
        "x": 675,
        "y": 340,
        "wires": [
            [
                "328f4adfdbeef3a8"
            ]
        ]
    },
    {
        "id": "395681ed3dad5171",
        "type": "catch",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "",
        "scope": [
            "be658f2d97c06ae7"
        ],
        "uncaught": false,
        "x": 780,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "328f4adfdbeef3a8",
        "type": "switch",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "home",
        "property": "#:(memoryOnly)::Navegación.Pantalla",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "Principal",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 340,
        "wires": [
            [
                "cf48cc7a9e511e75"
            ]
        ]
    },
    {
        "id": "a258d4d09931e14f",
        "type": "link in",
        "z": "6518aabe6f06f6f4",
        "g": "a4f221d85b9581dd",
        "name": "",
        "links": [
            "e28cc76463d5d568",
            "c4e5b48a61ef3ffd"
        ],
        "x": 735,
        "y": 380,
        "wires": [
            [
                "a2eb2831d853fe64"
            ]
        ]
    },
    {
        "id": "5a2d64a78596c4c1",
        "type": "ui_template",
        "z": "6518aabe6f06f6f4",
        "g": "b8bd404be934fa18",
        "group": "a9939834aa62d782",
        "name": "",
        "order": 12,
        "width": 16,
        "height": "6",
        "format": "<div ng-bind-html=\"msg.payload|trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 720,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "cfca65816885ed45",
        "type": "template",
        "z": "6518aabe6f06f6f4",
        "g": "b8bd404be934fa18",
        "name": "Template",
        "field": "template",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!doctype html>\n<html lang=\"en\">\n    <head>\n        <!-- Required meta tags -->\n        <meta charset=\"utf-8\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    \n        <!-- Bootstrap CSS -->\n        <link rel=\"stylesheet\" href=\"http://aic.local:1880/bootstrap/dist/css/bootstrap.min.css\">\n    </head>\n    <body>\n        <div class=\"container\">\n            <div class=\"row d-flex justify-content-center\">\n                <div class=\"col-lg-9 col-md-9 mt-3\">\n                    <svg width=\"100%\" height=\"100%\" viewBox=\"-0.5 -0.5 685 217\" preserveAspectRatio=\"xMidYMid meet\"> \n                        {{{svg}}}\n                    </svg>\n                </div>\n            </div>\n        </div>\n        \n        <!-- Optional JavaScript -->\n        <script src=\"http://aic.local:1880/bootstrap/dist/js/bootstrap.bundle.min.js\"></script>\n    </body>\n</html>",
        "output": "str",
        "x": 560,
        "y": 140,
        "wires": [
            [
                "5a2d64a78596c4c1"
            ]
        ]
    },
    {
        "id": "8c65396ad9180d16",
        "type": "template",
        "z": "6518aabe6f06f6f4",
        "g": "b8bd404be934fa18",
        "name": "SVG",
        "field": "svg",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\" content=\"&lt;mxfile host=&quot;Electron&quot; modified=&quot;2021-07-04T18:59:52.823Z&quot; agent=&quot;5.0 (Macintosh; Intel Mac OS X 10_16_0) AppleWebKit/537.36 (KHTML, like Gecko) draw.io/12.9.13 Chrome/80.0.3987.163 Electron/8.2.1 Safari/537.36&quot; etag=&quot;1OluWO9qAZzVOdAMDwA4&quot; version=&quot;12.9.13&quot; type=&quot;device&quot;&gt;&lt;diagram id=&quot;3OBx4FIYkCEcJKEvSmJ7&quot; name=&quot;Página-1&quot;&gt;7VxRc9o4EP41PObGkowxjwnt9WaO69w0M+2zagujVliuLAK5X38SlgFbTgipYxuiF2J2pZX87X6rlWwyQrPV9pPA2fIfHhM2gl68HaEPIwgnYag+teCxEASeXwgSQeNCBA6Ce/ofMULPSNc0JnmloeScSZpVhRFPUxLJigwLwTfVZgvOqqNmOCGW4D7CzJZ+o7FcFtIQTg7yvwhNluXIIJgWmhUuG5s7yZc45psjEfo4QjPBuSyuVtsZYRq7Epei359PaPcTEySVL+nw48ff4ScaJtk2+HJ/+ytK5ht2E4wLMw+Yrc0dm9nKxxKCRPB1ZpoRIcm2CXj8vWzu2RMD+9tVYUL4ikjxqJoYQ6HpYSJkbKa0OcAdeKbJ8ghqCExDbFyc7C0fUFAXBogzQAGT06CQNL7V4aW+RQznOY1G6C6XWEhbvJQrNf4HsGsh+M99JClQ7grLJLbC8ADfM56zQT2CbdyAWikThGFJH6qDNiFpRviXUzWdp3wGvZovcr4WETGdjoPyhJ2aGYVnQqRlZufV/T3/hqNDy9EPc/BZSb5aDlckSGOirXnKa5slleQ+w5HWblTmq7r5Sba82q3GjF/Fy7e5EjZRxXsjpsCpY8oJpgDUElXqhsJuuVKOXuEKHDJXplW8gNczWXy3rJwkS1vrSt0Q8Ltli9+0sqAhswXUlhYQ9EwXFJxFl5Sn5DlSoIslRVsLSL14sAy99Qpi57/PQyNDGfxTO/j9TtcKV1idokWdF/V66MW0qPOrW1aMm+oqMIdDXiqmw9qFjJEjyymywOkfk6C6wNdLohcTxrbV8V5kDBs4A+fogjjT+24EnMUZu7pSSnNaC9AVF1uv5Ijf78GWzY85GBoxSiL0XGmN7W3GTN2adzs0vMoAndQSSc955LxC9d3s0l5bjdYTR8crK7Cr0bnt0GFkjknfmcPez87gBWWOBvy6fXhw3nnou0kdry7M67mj60NPaB96ztHQyFBig/rOHv5Z0f8eN60ItkSMuqGuj3hsXlzUQtHElW4PeOy3VPQZ2ZD3+/U3G/o+Iwua9vsBkzpdZDitQBj8WuuXku4WPJU3C7yiTN2EClY1twCvsh1sCPkaScIeiKQRtjS69e5zZyTfnRRoEwBm25quGFcrUy5WmFXVG4OO1vv6PSCjZERKIm7U5COaJo39lU/lDWY0SQt1pDxKRFVNVaykxrx3NLWdUgqc5gtltDSvKpCywYaLuDr6cfcF41g29IppnjFs4KQpo1pX4q2uEv1X79W9n99K/yh/Fy4qtKX4u3BOa8lpdQc4ZgyaGV9vHTUcNa4I5Dap8eVJbgyyTvLL5yJHhREAz+wp2q+Mmp4euiAfZpBrR7nKyKX/qwK5PWa4yshR46pAbpMal1oZ7X8513eh1HRi7WJ+mDGvz0ZdoeRWg6sCuT1muELJUeOqQG6TGhdeKAH4dpWS+nr4xX7xfPjwbw/Qx/8B&lt;/diagram&gt;&lt;/mxfile&gt;\" style=\"background-color: rgb(255, 255, 255);\"><defs/><g><path d=\"M 80 196.76 L 80 33.24\" fill=\"none\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"stroke\"/><path d=\"M 80 202.76 L 76 194.76 L 80 196.76 L 84 194.76 Z\" fill=\"#000000\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"all\"/><path d=\"M 80 27.24 L 84 35.24 L 80 33.24 L 76 35.24 Z\" fill=\"#000000\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"all\"/><rect x=\"40\" y=\"45\" width=\"80\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 55px; margin-left: 41px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">{{VL1N}} V</div></div></div></foreignObject><text x=\"80\" y=\"59\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">{{VL1N}}V</text></switch></g><path d=\"M 130 196.76 L 130 93.24\" fill=\"none\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"stroke\"/><path d=\"M 130 202.76 L 126 194.76 L 130 196.76 L 134 194.76 Z\" fill=\"#000000\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"all\"/><path d=\"M 130 87.24 L 134 95.24 L 130 93.24 L 126 95.24 Z\" fill=\"#000000\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"all\"/><rect x=\"90\" y=\"105\" width=\"80\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 115px; margin-left: 91px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">{{VL2N}} V</div></div></div></foreignObject><text x=\"130\" y=\"119\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">{{VL2N}} V</text></switch></g><path d=\"M 180 196.76 L 180 153.24\" fill=\"none\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"stroke\"/><path d=\"M 180 202.76 L 176 194.76 L 180 196.76 L 184 194.76 Z\" fill=\"#000000\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"all\"/><path d=\"M 180 147.24 L 184 155.24 L 180 153.24 L 176 155.24 Z\" fill=\"#000000\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"all\"/><rect x=\"140\" y=\"165\" width=\"80\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 175px; margin-left: 141px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">{{VL3N}} V</div></div></div></foreignObject><text x=\"180\" y=\"179\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">{{VL3N}} V</text></switch></g><path d=\"M 30 205 L 240 205\" fill=\"none\" stroke=\"#000000\" stroke-width=\"3\" stroke-miterlimit=\"10\" pointer-events=\"stroke\"/><rect x=\"0\" y=\"195\" width=\"40\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 38px; height: 1px; padding-top: 205px; margin-left: 1px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">N</div></div></div></foreignObject><text x=\"20\" y=\"209\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">N</text></switch></g><path d=\"M 230 76.76 L 230 33.24\" fill=\"none\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"stroke\"/><path d=\"M 230 82.76 L 226 74.76 L 230 76.76 L 234 74.76 Z\" fill=\"#000000\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"all\"/><path d=\"M 230 27.24 L 234 35.24 L 230 33.24 L 226 35.24 Z\" fill=\"#000000\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"all\"/><rect x=\"190\" y=\"45\" width=\"80\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 55px; margin-left: 191px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">{{VL1L2}} V</div></div></div></foreignObject><text x=\"230\" y=\"59\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">{{VL1L2}} V</text></switch></g><path d=\"M 229.76 136.76 L 229.76 93.24\" fill=\"none\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"stroke\"/><path d=\"M 229.76 142.76 L 225.76 134.76 L 229.76 136.76 L 233.76 134.76 Z\" fill=\"#000000\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"all\"/><path d=\"M 229.76 87.24 L 233.76 95.24 L 229.76 93.24 L 225.76 95.24 Z\" fill=\"#000000\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"all\"/><rect x=\"190\" y=\"105\" width=\"80\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 115px; margin-left: 191px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">{{VL2L3}} V</div></div></div></foreignObject><text x=\"230\" y=\"119\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">{{VL2L3}} V</text></switch></g><path d=\"M 30 25 L 480 25\" fill=\"none\" stroke=\"#000000\" stroke-width=\"3\" stroke-miterlimit=\"10\" pointer-events=\"stroke\"/><rect x=\"0\" y=\"15\" width=\"40\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 38px; height: 1px; padding-top: 25px; margin-left: 1px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">L1</div></div></div></foreignObject><text x=\"20\" y=\"29\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">L1</text></switch></g><rect x=\"370\" y=\"15\" width=\"80\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 25px; margin-left: 371px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">{{CL1}} A</div></div></div></foreignObject><text x=\"410\" y=\"29\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">{{CL1}} A</text></switch></g><path d=\"M 30 85 L 480 85\" fill=\"none\" stroke=\"#000000\" stroke-width=\"3\" stroke-miterlimit=\"10\" pointer-events=\"stroke\"/><rect x=\"0\" y=\"75\" width=\"40\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 38px; height: 1px; padding-top: 85px; margin-left: 1px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">L2</div></div></div></foreignObject><text x=\"20\" y=\"89\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">L2</text></switch></g><rect x=\"370\" y=\"75\" width=\"80\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 85px; margin-left: 371px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">{{CL2}} A</div></div></div></foreignObject><text x=\"410\" y=\"89\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">{{CL2}} A</text></switch></g><path d=\"M 30 145 L 480 145\" fill=\"none\" stroke=\"#000000\" stroke-width=\"3\" stroke-miterlimit=\"10\" pointer-events=\"stroke\"/><rect x=\"0\" y=\"135\" width=\"40\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 38px; height: 1px; padding-top: 145px; margin-left: 1px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">L3</div></div></div></foreignObject><text x=\"20\" y=\"149\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">L3</text></switch></g><path d=\"M 320 136.76 L 320 33.24\" fill=\"none\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"stroke\"/><path d=\"M 320 142.76 L 316 134.76 L 320 136.76 L 324 134.76 Z\" fill=\"#000000\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"all\"/><path d=\"M 320 27.24 L 324 35.24 L 320 33.24 L 316 35.24 Z\" fill=\"#000000\" stroke=\"#000000\" stroke-width=\"2\" stroke-miterlimit=\"10\" pointer-events=\"all\"/><rect x=\"370\" y=\"135\" width=\"80\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 145px; margin-left: 371px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">{{CL3}} A</div></div></div></foreignObject><text x=\"410\" y=\"149\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">{{CL3}} A</text></switch></g><rect x=\"280\" y=\"45\" width=\"80\" height=\"20\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 55px; margin-left: 281px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">{{VL1L3}} V</div></div></div></foreignObject><text x=\"320\" y=\"59\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">{{VL1L3}} V</text></switch></g><rect x=\"490\" y=\"0\" width=\"110\" height=\"50\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 108px; height: 1px; padding-top: 25px; margin-left: 491px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \"><span style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px ; float: none ; display: inline\">{{L1_kW}} kW</span><br style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px\" /><span style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px ; float: none ; display: inline\">{{L1_kVA}} kVA</span><br style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px\" /><span style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px ; float: none ; display: inline\">{{L1_kVAR}} kVAR</span></div></div></div></foreignObject><text x=\"545\" y=\"29\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">L1 kW...</text></switch></g><rect x=\"490\" y=\"60\" width=\"110\" height=\"50\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 108px; height: 1px; padding-top: 85px; margin-left: 491px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \"><span style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px ; float: none ; display: inline\">{{L2_kW}} kW</span><br style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px\" /><span style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px ; float: none ; display: inline\">{{L2_kVA}} kVA</span><br style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px\" /><span style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px ; float: none ; display: inline\">{{L2_kVAR}} kVAR</span></div></div></div></foreignObject><text x=\"545\" y=\"89\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">L2 kW...</text></switch></g><rect x=\"490\" y=\"120\" width=\"110\" height=\"50\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\"/><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 108px; height: 1px; padding-top: 145px; margin-left: 491px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; \"><div style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \"><span style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px ; float: none ; display: inline\">{{L3_kW}} kW</span><br style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px\" /><span style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px ; float: none ; display: inline\">{{L3_kVA}} kVA</span><br style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px\" /><span style=\"font-family: &quot;helvetica&quot; ; font-size: 12px ; font-style: normal ; font-weight: 400 ; letter-spacing: normal ; text-align: center ; text-indent: 0px ; text-transform: none ; word-spacing: 0px ; float: none ; display: inline\">{{L3_kVAR}} kVAR</span></div></div></div></foreignObject><text x=\"545\" y=\"149\" fill=\"#000000\" font-family=\"Helvetica\" font-size=\"12px\" text-anchor=\"middle\">L3 kW...</text></switch></g></g><switch><g requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"/><a transform=\"translate(0,-5)\" xlink:href=\"https://desk.draw.io/support/solutions/articles/16000042487\" target=\"_blank\"><text text-anchor=\"middle\" font-size=\"100px\" x=\"510%\" y=\"100%\">Viewer does not support full SVG 1.1</text></a></switch></svg>",
        "output": "str",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "cfca65816885ed45"
            ]
        ]
    },
    {
        "id": "c55f66f375e44d6b",
        "type": "function",
        "z": "6518aabe6f06f6f4",
        "g": "b8bd404be934fa18",
        "name": "Lectura PQA",
        "func": "var PQM_Cluster = global.get(\"Cluster.PQM\",\"memoryOnly\")||[];\n// Lectura de valores de voltaje L1,L2,L3 respecto a neutro\nmsg.VL1N = global.get(\"PQA.Real_Time_Parameters.Phase_1_Voltage\", 'memoryOnly') || 0;\nmsg.VL1N = msg.VL1N.toFixed(2);\nmsg.VL2N = global.get(\"PQA.Real_Time_Parameters.Phase_2_Voltage\", 'memoryOnly') || 0;\nmsg.VL2N = msg.VL2N.toFixed(2);\nmsg.VL3N = global.get(\"PQA.Real_Time_Parameters.Phase_3_Voltage\", 'memoryOnly') || 0;\nmsg.VL3N = msg.VL3N.toFixed(2);\n\n// Lectura de valores de voltaje L1-L2,L2-L3,L1-L3\nmsg.VL1L2 = global.get(\"PQA.Real_Time_Parameters.Line_Voltage_1_2\", 'memoryOnly') || 0;\nmsg.VL1L2 = msg.VL1L2.toFixed(2);\nmsg.VL2L3 = global.get(\"PQA.Real_Time_Parameters.Line_Voltage_2_3\", 'memoryOnly') || 0;\nmsg.VL2L3 = msg.VL2L3.toFixed(2);\nmsg.VL1L3 = global.get(\"PQA.Real_Time_Parameters.Line_Voltage_3_1\", 'memoryOnly') || 0;\nmsg.VL1L3 = msg.VL1L3.toFixed(2);\n\n// Lectura de valores de corriente L1,L2,L3\nmsg.CL1 = global.get(\"PQA.Real_Time_Parameters.Total_Phase_A_Current\", 'memoryOnly') || 0;\nmsg.CL1 = msg.CL1.toFixed(2);\nmsg.CL2 = global.get(\"PQA.Real_Time_Parameters.Total_Phase_B_Current\", 'memoryOnly') || 0;\nmsg.CL2 = msg.CL2.toFixed(2);\nmsg.CL3 = global.get(\"PQA.Real_Time_Parameters.Total_Phase_C_Current\", 'memoryOnly') || 0;\nmsg.CL3 = msg.CL3.toFixed(2);\n\n// Lectura de valores de potencia activa kW\nmsg.L1_kW = global.get(\"PQA.Real_Time_Parameters.Phase_A_Power\", 'memoryOnly') || 0;\nmsg.L1_kW = msg.L1_kW.toFixed(2);\nmsg.L2_kW = global.get(\"PQA.Real_Time_Parameters.Phase_B_Power\", 'memoryOnly') || 0;\nmsg.L2_kW = msg.L2_kW.toFixed(2);\nmsg.L3_kW = global.get(\"PQA.Real_Time_Parameters.Phase_C_Power\", 'memoryOnly') || 0;\nmsg.L3_kW = msg.L3_kW.toFixed(2);\n\n// Lectura de valores de potencia aparente kVA\nmsg.L1_kVA = global.get(\"PQA.Real_Time_Parameters.Phase_A_Apparent_Power\", 'memoryOnly') || 0;\nmsg.L1_kVA = msg.L1_kVA.toFixed(2);\nmsg.L2_kVA = global.get(\"PQA.Real_Time_Parameters.Phase_B_Apparent_Power\", 'memoryOnly') || 0;\nmsg.L2_kVA = msg.L2_kVA.toFixed(2);\nmsg.L3_kVA = global.get(\"PQA.Real_Time_Parameters.Phase_C_Apparent_Power\", 'memoryOnly') || 0;\nmsg.L3_kVA = msg.L3_kVA.toFixed(2);\n\n// Lectura de valores de potencia reactiva kVAR\nmsg.L1_kVAR = global.get(\"PQA.Real_Time_Parameters.Phase_A_Reactive_Power\", 'memoryOnly') || 0;\nmsg.L1_kVAR = msg.L1_kVAR.toFixed(2);\nmsg.L2_kVAR = global.get(\"PQA.Real_Time_Parameters.Phase_B_Reactive_Power\", 'memoryOnly') || 0;\nmsg.L2_kVAR = msg.L2_kVAR.toFixed(2);\nmsg.L3_kVAR = global.get(\"PQA.Real_Time_Parameters.Phase_C_Reactive_Power\", 'memoryOnly') || 0;\nmsg.L3_kVAR = msg.L3_kVAR.toFixed(2);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "8c65396ad9180d16"
            ]
        ]
    },
    {
        "id": "6f3306c5ea39f85f",
        "type": "inject",
        "z": "6518aabe6f06f6f4",
        "name": "refresh 1s",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "7e6534ef71b0201d"
            ]
        ]
    },
    {
        "id": "7e6534ef71b0201d",
        "type": "link out",
        "z": "6518aabe6f06f6f4",
        "name": "refreshData",
        "mode": "link",
        "links": [
            "91adf3df1df1bf4e",
            "9a94fafdc1d876f2",
            "d2b1f7ce20cb20d7",
            "66496d795f4ee7fc"
        ],
        "x": 415,
        "y": 60,
        "wires": []
    },
    {
        "id": "6b6e49f24907fda2",
        "type": "ui_level",
        "z": "6518aabe6f06f6f4",
        "g": "23a0db1c9613c4e1",
        "group": "f61eea71fe8e60ac",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "VoltajeMotor",
        "label": "VoltajeMotor",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "500",
        "segWarn": "",
        "segHigh": "",
        "unit": "V",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "1",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "0.8",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 370,
        "y": 840,
        "wires": []
    },
    {
        "id": "ecef4b7401c4b23b",
        "type": "ui_level",
        "z": "6518aabe6f06f6f4",
        "g": "23a0db1c9613c4e1",
        "group": "f61eea71fe8e60ac",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "Corriente",
        "label": "Corriente",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "200",
        "segWarn": "",
        "segHigh": "",
        "unit": "A",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "1",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "0.8",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 340,
        "y": 640,
        "wires": []
    },
    {
        "id": "b4dbec00c3815b08",
        "type": "ui_level",
        "z": "6518aabe6f06f6f4",
        "g": "23a0db1c9613c4e1",
        "group": "f61eea71fe8e60ac",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "BusDc",
        "label": "BusDc",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "500",
        "segWarn": "",
        "segHigh": "",
        "unit": "V",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "1",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "0.8",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 330,
        "y": 680,
        "wires": []
    },
    {
        "id": "11a0cc51ad30589b",
        "type": "ui_level",
        "z": "6518aabe6f06f6f4",
        "g": "23a0db1c9613c4e1",
        "group": "f61eea71fe8e60ac",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "HzMotor",
        "label": "HzMotor",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "500",
        "segWarn": "",
        "segHigh": "",
        "unit": "Hz",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "1",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "0.8",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 360,
        "y": 720,
        "wires": []
    },
    {
        "id": "b3c24d8804f42604",
        "type": "ui_level",
        "z": "6518aabe6f06f6f4",
        "g": "23a0db1c9613c4e1",
        "group": "f61eea71fe8e60ac",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "SPM",
        "label": "SPM",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "50",
        "segWarn": "",
        "segHigh": "",
        "unit": "SPM",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "1",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "0.8",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 350,
        "y": 760,
        "wires": []
    },
    {
        "id": "ce9cadb3f9eb69f9",
        "type": "ui_level",
        "z": "6518aabe6f06f6f4",
        "g": "23a0db1c9613c4e1",
        "group": "f61eea71fe8e60ac",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "TorqueMotor",
        "label": "TorqueMotor",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "500",
        "segWarn": "",
        "segHigh": "",
        "unit": "Porcent",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "1",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "0.8",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 370,
        "y": 800,
        "wires": []
    },
    {
        "id": "608afb87fd4d9d29",
        "type": "function",
        "z": "6518aabe6f06f6f4",
        "g": "23a0db1c9613c4e1",
        "name": "show data",
        "func": "var VSD = global.get('VSDABB.Motor','memoryOnly')||{}\nreturn [\n    { payload: catcherror(VSD.current, 1) + \" \" + \"V\" },\n    { payload: catcherror(VSD.busDc, 1) + \" \" + \"V\" },\n    { payload: catcherror(VSD.hzMotor, 1) + \" \" + \"A\" },\n    { payload: catcherror(VSD.spm, 2) + \" \" + \"\" },\n    { payload: catcherror(VSD.torqueMotor, 2) + \" \" + \"%\" },\n    { payload: catcherror(VSD.voltajeMotor, 2) + \" \" + \"%\" },\n    { payload: catcherror(VSD.potencia, 2) + \" \" + \"KWh\" },\n    { payload: catcherror(VSD.factorPotencia, 2) + \" \" + \"\" },\n]\n\nfunction catcherror(variable, dec) {\n    if (typeof variable === 'undefined') {//si no fue definida la variable\n        return -1\n    } else {\n        return parseFloat(variable.toFixed(dec));\n    }\n}",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 780,
        "wires": [
            [
                "ecef4b7401c4b23b"
            ],
            [
                "b4dbec00c3815b08"
            ],
            [
                "11a0cc51ad30589b"
            ],
            [
                "b3c24d8804f42604"
            ],
            [
                "ce9cadb3f9eb69f9"
            ],
            [
                "6b6e49f24907fda2"
            ],
            [
                "8a74382dfcef0010"
            ],
            [
                "03a5023cc8fba560"
            ]
        ]
    },
    {
        "id": "9a94fafdc1d876f2",
        "type": "link in",
        "z": "6518aabe6f06f6f4",
        "g": "23a0db1c9613c4e1",
        "name": "datos de motor",
        "links": [
            "7e6534ef71b0201d"
        ],
        "x": 45,
        "y": 780,
        "wires": [
            [
                "608afb87fd4d9d29"
            ]
        ]
    },
    {
        "id": "8a74382dfcef0010",
        "type": "ui_level",
        "z": "6518aabe6f06f6f4",
        "g": "23a0db1c9613c4e1",
        "group": "f61eea71fe8e60ac",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "Potencia",
        "label": "Potencia",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "500",
        "segWarn": "",
        "segHigh": "",
        "unit": "KWh",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "1",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "0.8",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 360,
        "y": 880,
        "wires": []
    },
    {
        "id": "03a5023cc8fba560",
        "type": "ui_level",
        "z": "6518aabe6f06f6f4",
        "g": "23a0db1c9613c4e1",
        "group": "f61eea71fe8e60ac",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "FactorPotencia",
        "label": "FactorPotencia",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "500",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "1",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "0.8",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 380,
        "y": 920,
        "wires": []
    },
    {
        "id": "26428723.4b3e38",
        "type": "exec",
        "z": "f35c16add17629be",
        "g": "1d0c3cb2.7129f3",
        "command": "echo Slacol1234 | sudo -S systemctl restart kiosk",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 590,
        "y": 820,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "bfa48676.a364f8",
        "type": "delay",
        "z": "f35c16add17629be",
        "g": "1d0c3cb2.7129f3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 200,
        "y": 820,
        "wires": [
            [
                "26428723.4b3e38",
                "8ff382d09fb168e3"
            ]
        ]
    },
    {
        "id": "66496d795f4ee7fc",
        "type": "link in",
        "z": "f35c16add17629be",
        "g": "1d0c3cb2.7129f3",
        "name": "",
        "links": [
            "7e6534ef71b0201d"
        ],
        "x": 135,
        "y": 1060,
        "wires": [
            [
                "64526cf8d08d9bc4"
            ]
        ]
    },
    {
        "id": "64526cf8d08d9bc4",
        "type": "function",
        "z": "f35c16add17629be",
        "g": "1d0c3cb2.7129f3",
        "name": "RefreshLogin",
        "func": "var UserStatus = global.get(\"UserStatus\",\"memoryOnly\")||0;\nvar ctr = context.get(\"ctr\",\"memoryOnly\")||0;\nvar time = 3600*2;//tiempo en segundos\nif (UserStatus == 0 && ctr < time){\n    ctr = ctr +1;\n    node.status({fill:\"blue\",shape:\"ring\",text:\"Conteo\" + \" \" + ctr});\n\n    if(ctr >= time){\n        ctr = 0;\n        msg.payload = \"sudo systemctl restart kiosk\";\n        context.set(\"ctr\", ctr, \"memoryOnly\");\n        return msg;\n    }\n    context.set(\"UserStatus\",UserStatus,\"memoryOnly\")\n    context.set(\"ctr\", ctr,\"memoryOnly\")\n}else{\n    ctr = 0;\n    node.status({fill:\"green\",shape:\"ring\",text:\"User\"});\n    context.set(\"UserStatus\",UserStatus,\"memoryOnly\")\n    context.set(\"ctr\", ctr,\"memoryOnly\")\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1060,
        "wires": [
            [
                "d6d77b20431c6fc2"
            ]
        ]
    },
    {
        "id": "d6d77b20431c6fc2",
        "type": "exec",
        "z": "f35c16add17629be",
        "g": "1d0c3cb2.7129f3",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "0.5",
        "winHide": false,
        "oldrc": false,
        "name": "kiosk",
        "x": 410,
        "y": 1060,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5a3b6dbb1b06ecc3",
        "type": "exec",
        "z": "f35c16add17629be",
        "g": "1d0c3cb2.7129f3",
        "command": "echo Slacol1234 | sudo -S pkill chromium",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Kill chromium",
        "x": 480,
        "y": 880,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8ff382d09fb168e3",
        "type": "delay",
        "z": "f35c16add17629be",
        "g": "1d0c3cb2.7129f3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 190,
        "y": 880,
        "wires": [
            [
                "5a3b6dbb1b06ecc3",
                "e39536e36180e4d8"
            ]
        ]
    },
    {
        "id": "8a4770bdf43b812c",
        "type": "link in",
        "z": "f35c16add17629be",
        "g": "1d0c3cb2.7129f3",
        "name": "IniciarKiosk",
        "links": [
            "ad87cee4.7dbb5"
        ],
        "x": 55,
        "y": 820,
        "wires": [
            [
                "bfa48676.a364f8"
            ]
        ]
    },
    {
        "id": "95d0ba3af57e7b56",
        "type": "exec",
        "z": "f35c16add17629be",
        "g": "1d0c3cb2.7129f3",
        "command": "echo Slacol1234 | sudo -S systemctl restart kiosk",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 590,
        "y": 960,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e39536e36180e4d8",
        "type": "delay",
        "z": "f35c16add17629be",
        "g": "1d0c3cb2.7129f3",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 190,
        "y": 960,
        "wires": [
            [
                "95d0ba3af57e7b56"
            ]
        ]
    },
    {
        "id": "7abe043b.fb14fc",
        "type": "ui_ui_control",
        "z": "f35c16add17629be",
        "g": "e9e93a2c.deeb18",
        "name": "",
        "events": "change",
        "x": 160,
        "y": 660,
        "wires": [
            [
                "97407954.a004c8",
                "37f2db57.b831c4"
            ]
        ]
    },
    {
        "id": "97407954.a004c8",
        "type": "link out",
        "z": "f35c16add17629be",
        "g": "e9e93a2c.deeb18",
        "name": "UI-Control Out",
        "links": [
            "1660e38d.24cefc",
            "938193ac.02d98",
            "8166c609.8e8328",
            "441e9860.ad6ed8",
            "2099abe.2850a54",
            "a0e88921.4ebe88",
            "fd328934.0ddd18",
            "23b2730.9c7eb8e",
            "645af99b.4e8a38",
            "476a789d.6fd428",
            "97494ae0.a13ca8",
            "4482dc9f.5ee144",
            "2b47642.2404d9c",
            "51d66341.8ee0fc",
            "d458c292.e2009",
            "abd57ed0.925e2",
            "eeb74e26.02437",
            "487b8eaa.36a75",
            "934e9a94.1a30a8",
            "8c5351d8.97256",
            "3dc16724.814948",
            "a72a1eba.19d99",
            "fb44ddcd.cf816",
            "1708596a.fe0687",
            "3df3dfb.cab992",
            "e68ea72b.2110d8",
            "2d483fd4.25515",
            "9b86ac38.62861",
            "ffb8c84.3759b38",
            "11a5dcd.037cc23",
            "1f5578b0.1b22d7",
            "39f53b43.0969b4",
            "11379727.11b049",
            "4e9a700dde1096cf",
            "aa73a11737c18f40",
            "39a7cf283ee8e264",
            "5ee4a60da483c541",
            "d35710bff3d93d90",
            "dc19234d7f6c1436",
            "dd0739fd9e6348e6",
            "014e809185179741",
            "3157c937b070fc59",
            "68f55546e9d05ca2",
            "e6b555ce2e13edc0",
            "9a4e1f31c48da3ad",
            "c982f81bb2232785",
            "657fc3784434945c",
            "8db3135a85f1fab1",
            "aeb29ded9a6b39dc",
            "e2ca1b42759cafd3",
            "8d74875ae734bcad",
            "925c128e0b095b5c",
            "0a7acbe98cc27eb5",
            "51e2ba8e9d633518",
            "c7137971c34bfda3",
            "f6c1e52be5a7e8ef",
            "adb1a0acdc299c85",
            "610f87e6c3ac9ed0",
            "a1c5e02a9d683eb4",
            "f6609df4b5dd3ddd"
        ],
        "x": 305,
        "y": 660,
        "wires": []
    },
    {
        "id": "805762db.d27b7",
        "type": "link in",
        "z": "f35c16add17629be",
        "g": "e9e93a2c.deeb18",
        "name": "UI-Control In",
        "links": [
            "502a7e8f.2ab2d",
            "9eea6118.7b917",
            "99ae3bc8.746f48",
            "1882018b.4d179e",
            "3296d851.080568",
            "1981cd18.e62913",
            "ea1ac6a6.fda178",
            "d795f048.456e2",
            "f7333c0a.a70d3",
            "b0a2cd1a.ab273",
            "fc7e2763.e00d48",
            "63ae6ad3.b07874",
            "e6e875a0.3f91d8",
            "651fde0c.6b2e9",
            "54a6e602.e31808",
            "534cb822.fca4b8",
            "762fd542.edc83c",
            "ae913734.6c7e48",
            "1b6d3ebacefe3d37",
            "f95e46ccd8ac066d",
            "3cbd8b298714a327",
            "bbac1abcf840bd8f",
            "82902d07cb7c62e8",
            "a7d2cd08afbd2e76",
            "fc47cb5558e17f7a",
            "11fab97f0376f949",
            "59195fbe9de6d8a5",
            "7b495ef4bbce99f7",
            "10d0df396dc90c03",
            "13006add43952e28"
        ],
        "x": 65,
        "y": 660,
        "wires": [
            [
                "7abe043b.fb14fc"
            ]
        ]
    },
    {
        "id": "37f2db57.b831c4",
        "type": "change",
        "z": "f35c16add17629be",
        "g": "e9e93a2c.deeb18",
        "name": "Pantalla",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::Navegación.Pantalla",
                "pt": "global",
                "to": "name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "#:(memoryOnly)::Navegación.Tab",
                "pt": "global",
                "to": "tab",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 700,
        "wires": [
            []
        ]
    }
]